<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./composants/head') %>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde in optio magni aliquam, maxime autem numquam deleniti sint officia sunt totam porro? Ullam quaerat obcaecati dicta vero ex, nostrum voluptatibus optio voluptate repudiandae nulla. Eius ipsa autem sed culpa molestias quisquam fugit porro deserunt sunt in magni tempora dolorem mollitia, nobis inventore! Ipsum esse commodi, libero tempore inventore deleniti quas totam error? Harum voluptas libero ea rem blanditiis, laborum doloribus cupiditate atque earum, quasi necessitatibus saepe quisquam ullam unde, voluptatum fuga voluptatibus dolores commodi accusamus magnam possimus? Ducimus, perspiciatis corrupti doloribus est tempore corporis facilis mollitia consequuntur dolores dolorum?</p>
        </section>
    </div>
</body>
</html>