<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./composants/head') %>
        <section>
            <h2>404 Page not found</h2>
            <p>Vous avez validé un url introuvable</p>
        </section>
    </div>
</body>
</html>